---
// Import the component. Note that we're NOT importing React here.
import QuizComponent from '../components/QuizComponent.jsx';

// Define your data here
const quizData = {
  uniqueID: "12",
  question: "On what date is the feast of Saint Andrew celebrated worldwide?",
  answers: [
    { text: "a) 30th of November", isCorrect: true },
    { text: "b) 2nd of April", isCorrect: false },
    { text: "c) 29th of January", isCorrect: false },
    { text: "d) 6th of December", isCorrect: false },
  ],
  pointAmount: 100,
};
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
</head>
<body>
  <!-- Render your component and pass props directly -->
  <QuizComponent
  client:load
  uniqueID={quizData.uniqueID}
  question={quizData.question}
  answers={quizData.answers}
  pointAmount={quizData.pointAmount}
/>
</body>
</html>
