---
// Import the component. Note that we're NOT importing React here.
import QuizComponent from '../components/QuizComponent.jsx';

// Define your data here
const quizData = {
  uniqueID: "25",
  question: "What does the term \"The Edinburgh seven\" refer to?",
  answers: [
    { text: "a) A group of medicine students at Edinburgh University that militated for women's rights to a university education", isCorrect: true },
    { text: "b) A group of world renowned Michelin star restaurants", isCorrect: false },
    { text: "c) A group of award-winning circus acrobats", isCorrect: false },
    { text: "d) A group of Victorian-era vigilantes that would tickle criminals until confessing to all their crimes", isCorrect: false },
  ],
  pointAmount: 200,
};
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
</head>
<body>
  <!-- Render your component and pass props directly -->
  <QuizComponent
  client:load
  uniqueID={quizData.uniqueID}
  question={quizData.question}
  answers={quizData.answers}
  pointAmount={quizData.pointAmount}
/>
</body>
</html>
