---
// Import the component. Note that we're NOT importing React here.
import QuizComponent from '../components/QuizComponent.jsx';

// Define your data here
const quizData = {
  uniqueID: "41",
  question: "Fill in the blank: \"Anything that uses ___ has come out of the work that was done in developing transistors in Dundee.\" ",
  answers: [
    { text: "a) Batteries", isCorrect: false },
    { text: "b) An LCD screen", isCorrect: true },
    { text: "c) Electricity", isCorrect: false },
    { text: "d) Radio waves", isCorrect: false },
  ],
  pointAmount: 300,
};
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Page</title>
</head>
<body>
  <!-- Render your component and pass props directly -->
  <QuizComponent
  client:load
  uniqueID={quizData.uniqueID}
  question={quizData.question}
  answers={quizData.answers}
  pointAmount={quizData.pointAmount}
/>
</body>
</html>
